.header{
    background-color: rgb(3, 4, 7);
    height: 160px;
    width: auto;
    border: solid;
    border-color:rgba(167, 0, 0, 0.966); ;
    
}
.header h1{
    color: rgba(167, 0, 0, 0.966);
    width: 100%;
    height: 60%;
    text-align: center;

}

.header p{
    text-align: center;
    color: cornsilk;
    font-size: x-large;
    margin-top: 3px;
}