.header{
    width: 100%;
    height: 90px;
    background-image: url('chalkboard-blackboard-dark-wallpaper-background_28629-1125.jpg');
    margin: auto;
}
 
header, h1{
    text-align: center;
    color: white;
    font-size: xx-large;
}

.card{
  height: 400px;
  width: 400px;
  text-align: center;
  margin: 100px auto;
  background-color: #777b7ec2;
}

